arrow==0.10.0
beautifulsoup4==4.6.0
blessed==1.14.2
Django==1.11.4
django-picklefield==1.0.0
Django==1.11.3
django-q==0.8.0
fake-useragent==0.1.7
future==0.16.0
psycopg2==2.7.3
python-dateutil==2.6.1
requests==2.18.2
six==1.10.0
uWSGI==2.0.15
wcwidth==0.1.7
