arrow==0.10.0
beautifulsoup4==4.5.1
blessed==1.14.1
Django==1.10.4
django-picklefield==0.3.2
django-q==0.7.18
fake-useragent==0.1.4
future==0.16.0
psycopg2==2.6.2
python-dateutil==2.6.0
requests==2.12.3
six==1.10.0
uWSGI==2.0.14
wcwidth==0.1.7
