arrow==0.8.0
beautifulsoup4==4.5.1
blessed==1.14.1
Django==1.10.3
django-picklefield==0.3.2
django-q==0.7.18
fake-useragent==0.1.2
future==0.16.0
psycopg2==2.6.2
python-dateutil==2.6.0
requests==2.12.0
six==1.10.0
uWSGI==2.0.14
wcwidth==0.1.7
